

.top {
    margin-bottom: 8px;
    position: relative;
}
.im {
    width: 100%;
   
}
.time {
    position: absolute;
    bottom: 15px;
    right: 5px;
    background-color: black;
    color: white;
    font-family: Roboto,arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    z-index: 4;
}
.down {
    display: grid;
    grid-template-columns: 50px 1fr;
    z-index: 2;
}

.cir {
    width: 36px;
    border-radius: 50px;
   
}

.title {
    font-size: 1vw;
    line-height: 1.2;
    margin-bottom: 4px;
    font-weight: 500;
    margin-top: 0;
}

.name,
.viewers {
    color: rgb(96, 96, 96);
    font-size: .8vw;

}

.viewers {
    margin-top: .5%;
}

.grid-vid {   /*adfdfaafd*/
    display: grid;
    margin-left: .99%;
    column-gap: 17px;
    row-gap: 15px;
    margin-right: 5px;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));

}
@media (max-width:761px) {
    .grid-vid {
 
    }
    .viewers,.name {
        font-size: 14px;
    }
    .title {
        font-size: 12px;
    }
    .grid-vid {
        grid-template-columns: repeat(auto-fit,minmax(230px,1fr));

    }
}
@media (min-width:1000px) {
    .grid-vid {
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    }
     .viewers,.name {
        font-size: 15px;
    }
    .title {
       font-size: 15px;
    }
}
.url {
        text-decoration: none;
        color: inherit;
}
.profile_pic {
    position: relative;
    display: inline-block;
    height: 36px;
}
.tooltips {
    border-radius: 5px;
    display: flex;
    background-color: white;
    border-style: solid;
    box-shadow: 2px 3px 10px rgba(0, 0, 0,.3);
    align-items: start;
    justify-content: start;
    padding-top: 13px;
    padding-bottom: 10px;
    width: 230px;
    border: none;
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
    position: absolute; 
    z-index: 100;
}
.profile_pic:hover .tooltips {
    opacity: 1;
    
}
.data {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}
.nametool {
    font-family: Roboto,arial;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.Subscribers {
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-family: Roboto,arial;
}
.cirtool {
    width: 50px;
    border-radius: 50px;
}